@import "_grid";
@import "_base";
@import "_type-scale";

.author-details {
  @include module-spread-across(1, 3);

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 1.618rem 0;

  .gravatar, img {
    border-radius: 50%;
  }
}

.post-meta {
  font-size: scale-text(-1);
  color: lighten($base-font-colour, 25%);

  a {
    color: $interaction-colour;
    text-decoration: none;
  }

  a:visited {
    color: $interaction-colour;
  }
}

img {
  padding: 1.618rem;
}

.contact {
  display: flex;
  flex-flow: column wrap;

  &-section {
    header {
      margin: 1.618rem 0;
      font-size: scale-text(0);
      color: lighten($base-font-colour, 25%);
    }
  }
}

