@import "_config";

@mixin break($breakpoint) {
    @media only screen and (min-width: #{$breakpoint}) {
        @content;
    }
}

:root {
    background-color: $hero-colour;
    font-size: $base-font-size;
}

html {
    font-family: $base-font-family;
    line-height: $base-line-height;
    color: $base-font-colour;
    font-weight: $base-font-weight;
    background: $background-colour;
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
    vertical-align: baseline;
    background: $background-colour;
}

a {
    color: $base-font-colour;
    text-decoration: none;
    transition: all .3s ease-in-out 0s;

    &:active {
        outline: 2px solid $outline-colour-for-touch;
        outline-offset: 0.75rem;
    }

    &:visited {
        transition: inherit;
    }

    &:hover {
        color: $interaction-colour;
        transition: all .3s ease-in-out 0s;
    }
}