@import "_config";

@mixin break($breakpoint) {
    @media only screen and (min-width: #{$breakpoint}) {
        @content;
    }
}

:root {
    background-color: $hero-colour;
    font-size: $base-font-size;
}

html {
    font-family: $base-font-family;
    line-height: $base-line-height;
    color: $base-font-colour;
    font-weight: $base-font-weight;
    background: $background-colour;

    * h1, h2, h3, h4, h5, h6 {
        font-weight: $bold-font-weight;
    }
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
    vertical-align: baseline;
    background: $background-colour;
}

a {
    color: $base-font-colour;
    text-decoration: none;
    transition: all .3s ease-in-out 0s;

    &:active {
        outline: 2px solid $outline-colour-for-touch;
        outline-offset: 0.75rem;
    }

    &:visited {
        transition: inherit;
    }

    &:hover {
        color: $interaction-colour;
        transition: all .3s ease-in-out 0s;
    }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}