$base-font-family: 'Monteserrat', sans-serif;
$base-font-size: 1rem;
$base-font-colour: #222222;
$base-font-weight: 100;
$interaction-colour: darken(orange, 5%);
$base-line-height: 1.4;
$scale: 1.333;
$background-colour: #FFF;

$for-large-view: 56.25em;

$hero-colour: #383042;
$hero-font-colour: whitesmoke;