@import '_config';
@import '_type-scale';

@mixin set-element-columns($start, $end) {
  grid-column: #{$start} / #{$end};
}

@mixin set-element-rows($start, $end) {
  grid-row: #{$start} / #{$end};
}

@mixin module-spread-across($start, $size) {
  @include set-element-columns(#{$start}, span #{$size});
}

@mixin module-spread-down($start, $size) {
  @include set-element-rows(#{$start}, span #{$size});
}

@mixin center-grid-element() {
  align-self: center;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-gap: 1rem;
  min-height: 100vh;
  grid-template-columns: 5vw repeat(3, 1fr) 5vw;
  grid-template-rows: 10vh 10vh minmax(75vh, 1fr);

  @include break($for-large-view) {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 10vh minmax(90vh, 1fr);
  }

  &--blog {
    display: grid;
    grid-gap: 1rem;
    min-height: 100vh;
    grid-template-columns: 5vw repeat(3, 1fr) 5vw;
    grid-template-rows: 10vh 10vh;
  
    @include break($for-large-view) {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 10vh;
    }
  }
}