@import "_config";
@import "_grid";
@import "_type-scale";

.logo {
    @include module-spread-across(1, 5);
    @include module-spread-down(1, 1);
    align-self: center;
    text-align: center;
    font-size: scale-text(1);
    font-weight: 600;

  img {
      margin: 0;
      padding: 0;
  }

  @include break($for-large-view) {
    @include module-spread-across(1, 3);
    font-size: scale-text(2);
    font-weight: 600;      
    margin: 0 3rem;
    text-align: left;
  }
}

.horizontal-navigation {
  @include module-spread-across(1, 5);
  @include module-spread-down(2, 1);
  @include center-grid-element();

  @include break($for-large-view) {
      @include module-spread-across(4, 2);
      @include module-spread-down(1, 1);
  }

  ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
  }

  a {
      position: relative;
      text-decoration: none;
      margin: 0 1.618rem;
      padding: .382rem 0;
  }

  a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: $interaction-colour;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.2s ease-in-out 0s;
  }

  a:hover:before {
      visibility: visible;
      transform: scaleX(1);
  }
}

.hero {
  @include module-spread-across(1, 3);
  align-self: center;

  @include break($for-large-view) {
      @include module-spread-across(2, 3);

      align-self: center;
  }
}

.front {
  @include module-spread-across(1, 3);

  @include break($for-large-view) {
      @include module-spread-across(2, 3);
      @include module-spread-down(2, 1);

      align-self: center;
      text-align: center;
  }
}

#post {
  .hero {
      font-size: scale-text(1);
  }
}

.content {
  @include module-spread-across(2, 3);
  height: 100%;

  @include break($for-large-view) {
      @include module-spread-across(2, 3);

      max-width: $max-reading-width;
      height: 100%;
  }
}

.archive-list {
  display: flex;
  flex-direction: column;
  list-style: none;

  li {
      padding: 1.618rem 0;
      margin: 0 0.382rem;
      width: 100%;
  }
}
